@use "./reset.scss";

$borderColor: rgba(
  $color: #000000,
  $alpha: 0.4,
);

$borderWidth: 2px;

$textGap: 10px;

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10fr;
}

.header {
  .header__nav {
    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr) 1.5fr repeat(5, 1fr);
      background-color: $borderColor;
      gap: $borderWidth;
    }
    .header__tab {
      background-color: white;
      padding: 30px 0px;
      text-align: center;
      font-weight: 300px;
      font-size: 14px;
      &:nth-child(6) {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
  .header__breadcrumbs {
    border-top: $borderWidth solid $borderColor;
    border-bottom: $borderWidth solid $borderColor;
    padding: 10px 0px;
    padding-left: 50px;
    font-size: 12px;
    .header__crumb {
      font-weight: 400;
    }
    :last-child {
      opacity: 0.6;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  background-color: $borderColor;
  gap: $borderWidth;

  .product__img {
    background-image: url("https://picsum.photos/200/300");
    background-size: cover;
  }
  .product__info {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    gap: $borderWidth;
    .product__header {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 0px 50px;
      text-transform: uppercase;
      font-weight: 500;
      .product__category {
        font-size: 22px;
      }
      .product__title {
        font-size: 45px;
      }
      .product__add-to-cart {
        margin-top: 30px;
        display: flex;
        gap: 60px;
        .product__price {
          font-size: 36px;
        }
        .product__qty {
          font-size: 36px;
          display: flex;
          gap: $textGap;
          .product__minus {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .product__footer {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: $borderWidth;
    & > div {
      background-color: white;
    }
    .product__description p {
      width: 70%;
      font-size: 14px;
      margin: 0 auto;
      padding: 25px 35px;
    }
    .product__faq {
      padding: 50px 50px;
      display: flex;
      flex-direction: column;
      gap: $textGap;
    }
    .product__question {
      border-bottom: $borderWidth solid $borderColor;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }
}
